/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 20px; /* Agrega algo de espacio en los bordes */
    box-sizing: border-box;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegura que el formulario no sea más ancho que el cuerpo */
    max-width: 500px; /* Máximo ancho del formulario */
}

input[type="text"],
textarea, /* Añadido textarea aquí */
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="text"],
textarea { /* Estilos separados para textarea e input */
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: vertical;
    overflow: auto;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    form {
        padding: 15px;
        margin: 10px;
    }
    input[type="text"],
    textarea,
    button {
        margin: 5px 0;
    }
}
