/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="text"] {
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo específico para el campo miTexto */
#miTexto {
    height: 150px; /* Altura suficiente para el texto largo */
    width: 100%; /* Asegurando que ocupe todo el ancho del formulario */
    resize: vertical; /* Permite al usuario ajustar la altura */
    overflow: auto; /* Agrega una barra de desplazamiento si el texto es muy largo */
    border: 1px solid #ddd;
    padding: 10px; /* Algo de espacio dentro del textarea */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    font-size: 16px; /* Tamaño de fuente legible */
}
